.registration , .main , .login {
    display: flex;
}
.formes {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.formes > input {
    margin: 10px;
}

.main {
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}
li {
    color: red;
}
.success {
    color: green;
}