<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="
padding-left: 10%;
padding-right: 10%;">
<h1 style="text-align: center;">Welcome</h1>
    
    {% for i in range(0,num_divs)%}
    
        <div style ="background-color: {{the_color}};display:inline-block; width: 200px;
            height: 200px;
            margin: 10px;
            padding: 10px;" >
        </div>

    {% endfor %}
    
</body>
</html>