<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/the_style.css') }}"></head>
</head>
<body>
    <div class="container">
        <h2> CheckBoard : {{varx}} * {{vary}} and colrs {{col1}} & {{col2}} </h2>
        {% for i  in range(varx): %}
        <div class="raw">
            {% for j in range(vary): %}
                {% if (i+j)%2+1==1 : %}
            <div class="{{col1}}" >
            </div>
            {% else: %}
                <div class="{{col2}}" >
                </div>
            {% endif %}

            {% endfor %}
        </div>
        {% endfor %}
    </div>

</body>
</html>