<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckBoard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/the_style.css') }}"></head>
<body>
    
    <div class="container">
        <h2>CheckBoard </h2>
        {% for i  in range(4) %}
        <div class="raw">
            {% for j in range(4) %}
            <div class="color1" >
            </div>
            <div class="color2" >
            </div>
            {% endfor %}
        </div>
        <div class="raw">
            {% for j in range(4) %}
            <div class="color2" >
            </div>
            <div class="color1" >
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    
    <div class="container">
        <h2> CheckBoard 2 </h2>
        {% for i  in range(8): %}
        <div class="raw">
            {% for j in range(8): %}
            <div class="color{{(i+j)%2+1}}" >
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</body>
</html>