<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greate Number game</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css' ) }}">
</head>
<body>
    <h1>Welcome To The Great Number Game</h1>
    <p>Iam Thinking Of A Number Between 1 & 100</p>
    
    <h3> You Have {{session['attemptsUser']}} Attempts</h3>
    <div class="container">
        {% if (11 > session['attempts'] > 0 ): %} 
        
        <!-- if you didnt guessthe correct num in 10 times , ypu will lose-->
        {% if ( session['attempts'] == 10 and session['theGuessed'] != session['rand'] ): %} 
        <div class="helper_color_lose">
            <h2>{{session['theGuessed']}}</h2>
            <h3> Game Over </h3> 
            <h3>you take all of the {{session['attempts']}} Attemps!! </h3>
            <form action="/clear" >
                <button class="clearsession">play again</button>
            </form>
        </div>
        {% elif ( session['theGuessed'] > session['rand'] ): %}
        <div class="helper_color">
            <div>
                <h2>{{session['theGuessed']}}</h2>
                <h3>is too high</h3>
            </div>
            <div>
                <br><br>
                <form action="/yourguess" method="post" >
                <br>
                <input type="number" name="yournu_num" placeholder="0" min="1" max="100" required>
                <br>
                <button>Submit</button>
                </form>
            </div>
        </div>
        
        {% elif ( session['theGuessed'] == session['rand'] ): %}
        <div class="helper_color3">
            <h2>{{session['theGuessed']}}</h2>
            <h3>Fantasic !! </h3> 
            <h3>{{session['attempts']}} Attemps!! </h3>
            <form action="/clear" >
                <button class="clearsession">play again</button>
            </form>
        </div>
        {% elif ( session['rand'] > session['theGuessed']  ): %}
        <div class="helper_color2">
            <h2>{{session['theGuessed']}}</h2>
            <h3>is too low</h3>
            <br><br>
            <form action="/yourguess" method="post" >
                <br>
                <input type="number" name="yournu_num" placeholder="0" min="1" max="100" required>
                <br>
                <button>Submit</button>
                </form>
        </div>
        
        {% endif %}
        {%else: %}
        <div>
            <br><br>
            <p>Please Take a Aguess !</p>
            <form action="/yourguess" method="post" >
                <br>
                <input type="number" name="yournu_num" placeholder="0" min="1" max="100" required>
                <br>
                <button>Submit</button>
            </form>
        </div>
        {% endif %}
    </div>
</body>
</html>